body{
    width: 100vw;
    min-height: 100vh;
    background-color: #131516;
    
}

.contain{
    width: 100%;
    min-height: 100vh;
    background-color: #02488a41;
    box-sizing: border-box;
    padding: 15px 35px;
}

.task{
    border-style: none;
    color: whitesmoke;
    margin: 10px 0 ;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px;
    font-size: 28px;
}

h1{
    margin: 20px 0;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 8px;
    font-family: 'Quicksand',sans-serif;
}

button{
    border-style: none;
    
}

.currentSpan{
    background-color: #000000;
}

.wrong{
    color: crimson;
}


.icon{
    display: inline-block;
    transform: rotate(90deg);
}

input{
    border: none;
    resize: none;
    outline: none;
    width: 50%;
    background-color: #212d40;
    color: whitesmoke;
    padding: 9px;   
    border: 1px solid whitesmoke;
    font-size: 18px;
}

.controls{
    padding: 12px 12px;
    background-color: #a4c3b2;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;
}

.timer{
    width: 7vh;
}

.stats{
    /* border: 2px solid whitesmoke; */
    width: 250px;
    height: 250px;
    color: whitesmoke;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 40px repeat(4,1fr);
    padding: 5px 15px 15px 15px;
    font-weight: 300;
    box-sizing: border-box;
}

.head{
    color: black;
    width: 250px; 
    background-color: transparent;
    border-style: none; 
    font-family: 'Quicksand', sans-serif;
    padding: 10px 5px;
    background-color: #a4c3b2;
    /* border: 2px solid whitesmoke; */
    /* border-bottom: none; */
}

.statistics{
    margin-top: 30px;
}


.scored{
    grid-row-start: 1;
    grid-row-end: 1;
}

.keystrokes{
    grid-row-start: 2;
    padding-top: 29px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.accuracy{
    grid-row-start: 3;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.correct-words{
    grid-row-start: 4;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.wrong-words{
    grid-row-start: 5;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.score{
    color: #2ec4b6;
    font-weight: 700;
    font-size: 25px;
}

.plain{
    font-weight:200;
}

.ksw, .ww{
    color: crimson;
    font-weight: 400;
}

.ksr, .cw{
    color: #2ec4b6;
    font-weight: 400;
}

.accperc{
    font-weight: 700;
}
